.custoers-box {
  border: 1px solid gray;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.cutomers-length {
  width: 50%;
  background-color: rgb(104, 16, 247);
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  color: white;
}
