.question-cart{
    width: 90%;
    margin: auto;
    margin-top:50px;
   
}
.cart{
    /* border: 1px solid #000; */
    width: 90%;
    padding: 10px;
}
.cart-title{
    font-size:22px;
}
.question-cart{
    /* border-top: 1px solid rgb(245, 8, 8); */
    font-size: 16px;
}
.FQA{
    padding: 90px;
}